a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.clear_fix::after {
  content: "";
  clear: both;
  display: block;
}

.radio_btn {
  display: none;
}

header {
  font-family: "Pretendard-Regular";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
}
header .header_fix {
  width: 1200px;
}
header #logo {
  display: inline-block;
  margin: 32px 0;
}
header #logo img {
  width: 244px;
}
header #gnb {
  display: inline-block;
  margin-left: 56px;
  vertical-align: -18px;
}
header #gnb li {
  float: left;
  margin-right: 32px;
}
header #gnb li:last-child {
  margin-right: 0;
}
header #gnb li a {
  font-size: 20px;
  font-weight: 600;
  color: #3B3B3B;
}
header #lang {
  float: right;
  margin: 44px 0 0 12px;
}
header label {
  color: #BCBCBC;
  cursor: pointer;
}
header #lang fieldset :nth-child(2) {
  margin-right: 8px;
}
header input:checked {
  border: none;
}
header input:checked + label {
  color: #3B3B3B;
}
header.scrolled {
  background: #fff;
  color: #3B3B3B;
}

#wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sec {
  width: 100%;
  height: 100vh;
}

main {
  font-family: "Pretendard-Regular";
}
main #main_top {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main #main_top #bg1 {
  position: relative;
  background: url(../images/main_image/paper_texture.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 2;
}
main #main_top #rainbow {
  position: absolute;
  top: 70px;
  left: 200px;
}
main #main_top #rainbow img {
  width: 1464px;
  z-index: 1;
}
main #main_top #cloud {
  position: absolute;
  top: 118px;
  left: 1280px;
}
main #main_top #cloud img {
  width: 320px;
  z-index: 2;
}
main #main_top #characters {
  position: absolute;
  top: 132px;
  left: 620px;
  animation: fadein 0.8s ease-in-out;
}
main #main_top #characters img {
  width: 1000px;
  z-index: 3;
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
main #main_top #top_text_position0 {
  position: relative;
  top: -292px;
  left: 380px;
}
main #main_top #top_text_position0 span {
  color: #266FDE;
}
main #main_top #top_text_position1 {
  position: relative;
  top: -206px;
  left: 380px;
}
main #main_top .text_info {
  z-index: 4;
  display: inline-block;
}
main #main_top .text_info p {
  font-family: "TTLaundryGothicB";
  font-size: 64px;
  background-color: #fff;
  padding: 8px 12px;
}
main #main_top .bounce_text > p span {
  display: inline-block;
  position: relative;
  top: 10px;
  color: #DC000C;
  animation: bounce 0.55s ease infinite alternate;
  text-shadow: 0 1px 0 #e6e6e6, 0 2px 0 #e6e6e6, 0 3px 0 #e6e6e6, 0 4px 0 #e6e6e6, 0 5px 0 #e6e6e6, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
main #main_top .bounce_text p span:nth-child(2) {
  animation-delay: 0.1s;
}
main #main_top .bounce_text p span:nth-child(3) {
  animation-delay: 0.2s;
}
main #main_top .bounce_text p span:nth-child(4) {
  animation-delay: 0.3s;
}
main #main_top .bounce_text p span:nth-child(5) {
  animation-delay: 0.4s;
}
@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
main #main_top #main_button {
  position: relative;
  z-index: 5;
}
main #main_top button {
  --font-size: 18px;
  --move-hover: -6px;
  --duration: .44s;
  --font-shadow: var(--font-size);
  font-family: "Pretendard-Regular";
  font-size: var(--font-size);
  color: #3B3B3B;
  font-weight: bold;
  line-height: 19px;
  border-radius: 32px;
  padding: 18px 24px;
  letter-spacing: 0.5px;
  border: 3px solid #3B3B3B;
  background-color: transparent;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transform: translateY(var(--y)) translateZ(0);
  box-shadow: var(--shadow);
  display: flex;
  overflow: hidden;
}
main #main_top button div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 #fff;
}
main #main_top button span {
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
main #main_top button span:nth-child(1) {
  transition-delay: 0.05s;
}
main #main_top button span:nth-child(2) {
  transition-delay: 0.1s;
}
main #main_top button span:nth-child(3) {
  transition-delay: 0.15s;
}
main #main_top button span:nth-child(4) {
  transition-delay: 0.2s;
}
main #main_top button span:nth-child(5) {
  transition-delay: 0.25s;
}
main #main_top button span:nth-child(6) {
  transition-delay: 0.3s;
}
main #main_top button span:nth-child(7) {
  transition-delay: 0.35s;
}
main #main_top button span:nth-child(8) {
  transition-delay: 0.4s;
}
main #main_top button span:nth-child(9) {
  transition-delay: 0.45s;
}
main #main_top button:hover {
  cursor: pointer;
  border: 3px solid #DC000C;
  background-color: #DC000C;
  color: #fff;
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
main #main_top button:hover span {
  --m: calc(var(--font-size) * -1);
}
main #main_top button.reverse:hover span {
  --m: calc(var(--font-size));
}
main #main_top #news {
  display: block;
  position: absolute;
  top: -262px;
  left: 378px;
}
main #main_top #shop {
  display: block;
  position: absolute;
  top: -262px;
  left: 582px;
}
main #main_middle #bg2 {
  background: #2E2E2E url(../images/main_image/sky.png) no-repeat center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 2;
  position: relative;
}
main #main_middle #bg2 #bg_paper {
  position: absolute;
  top: 200px;
  left: 30%;
  z-index: 1;
}
main #main_middle #bg2 #bg_paper img {
  width: 820px;
}
main #main_middle #bg2 #character_yoshi {
  position: absolute;
  top: 200px;
  left: 18%;
  z-index: 2;
  animation: float_ani1 1s infinite alternate;
}
main #main_middle #bg2 #character_yoshi img {
  width: 284px;
}
main #main_middle #bg2 #character_spunge {
  position: absolute;
  top: 426px;
  left: 70%;
  z-index: 2;
  animation: float_ani2 1s infinite alternate;
}
main #main_middle #bg2 #character_spunge img {
  width: 284px;
}
@keyframes float_ani1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 34px);
  }
}
@keyframes float_ani2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -34px);
  }
}
main #main_middle #bg2 #main_middle_text {
  position: relative;
  top: 408px;
  left: 36%;
  color: #3B3B3B;
  font-size: 48px;
  z-index: 3;
  font-family: "PTAnboR";
  font-weight: 200;
}
main #main_middle #bg2 #business_text {
  position: relative;
  top: 436px;
  left: 58%;
  color: #9E9E9E;
  font-size: 36px;
  z-index: 4;
  font-family: "LeeSeoyun";
  font-weight: 400;
}
main #main_middle #bg2 #business_text span {
  color: #fff;
}
main #main_middle #bg2 #line {
  display: inline-block;
  position: absolute;
  top: 576px;
  left: 55%;
  z-index: 3;
}
main #main_middle #bg2 #line img {
  width: 260px;
  transform: rotate(-25deg);
}
main .main_text h2 {
  font-size: 72px;
  color: #fff;
  position: absolute;
  top: 26%;
  left: 15%;
}
main .main_text p {
  font-size: 28px;
  color: #fff;
  line-height: 30px;
  position: absolute;
  top: 40%;
  left: 15%;
}
main .main_text2 h2 {
  font-size: 82px;
  color: #fff;
  position: absolute;
  top: 26%;
  right: 15%;
}
main .main_text2 p {
  font-size: 32px;
  color: #fff;
  line-height: 30px;
  position: absolute;
  top: 40%;
  right: 15%;
  text-align: right;
}
main #main_1_CA {
  background: url(../images/main/bg/1.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 2;
}
main #main_1_CA h2, main #main_1_CA p {
  color: #3B3B3B;
}
main #main_1_CA #CA #main1_img {
  position: absolute;
  top: 32%;
  left: 46%;
}
main #main_2_OA {
  background: #2E2E2E;
  position: relative;
}
main #main_2_OA #main2_img {
  position: absolute;
  top: 40%;
  left: 18%;
  z-index: 5;
}
main #main_2_OA .change_img {
  position: absolute;
  top: 42%;
  left: 20%;
}
main #main_2_OA .change_img img {
  width: 542px;
  height: 360px;
  z-index: 3;
}
main #main_2_OA .swiper-wrapper {
  display: flex;
}
main #main_2_OA .noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.07;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
}
main #main_3_BL {
  background: url(../images/main/bg/2.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 2;
}
main #main_3_BL h2, main #main_3_BL p {
  color: #3B3B3B;
  z-index: 5;
}
main #main_3_BL #change_main3_img {
  position: absolute;
  top: 38%;
  left: 56%;
  z-index: 3;
}
main #main_3_BL #change_main3_img img {
  width: 540px;
  height: auto;
}
main #main_3_BL .swiper-wrapper {
  display: flex;
}

.pager {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.pager span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  opacity: 0.3;
  margin: 8px 0;
  cursor: pointer;
}

.pager span.active {
  opacity: 1;
}